@import 'tailwindcss';

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'LTSoul';
    src: url('./assets/LTSoul-Regular.otf');
}

@theme {
  --color-main-light: #EAE0D3;
  --color-main-dark: #1E1E1E;
  --font-poppins: 'Poppins', sans-serif;
  --font-ltsoul: "LTSoul", sans-serif;
}